$primary-font: 'Inter', sans-serif;
$secondary-font: 'Montserrat', serif;
$font-color: #02050a;
$border-radius-lg: 10px;
$border-radius-md: 8px;
$color-white: #fff;
$color-primary: #1c5cd8;
$color-primary-light: #b9dcff;
$color-primary-dark: #213bb8;
$color-grey-light: #f2f3f5;
$color-pink: #fff4f4;
$color-light-blue: #eef5fa;
$color-yellow: #fff180;
