@use '../abstracts' as a;

.call-to-action {
	background-image: linear-gradient(to bottom right, #475569, #000, #475569);
	padding: 3rem;
	border-radius: 1rem;
	color: var(--color-white);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 1.5rem;

	@include a.breakpoint(sm) {
		padding: 6rem;
	}

	> span {
		font: {
			size: 2rem;
			family: var(--text-font-secondary);
			weight: 700;
		}
	}
}
