.footer {
	&-container {
		padding-top: 2rem;
	}
	&-icons {
		font-size: 1.875rem;
		display: flex;
		justify-content: center;
		gap: 1rem;

		&_item {
			max-width: 25px;
		}
	}
	&-copyright {
		text-align: center;
		font-weight: 500;
	}

	a {
		&:link,
		&:visited {
			color: var(--color-dark);
		}

		&:hover,
		&:active {
			color: var(--color-primary);
		}
	}
}
