.skills {
	color: var(--color-primary);
	display: flex;
	flex-wrap: wrap;
	gap: 2.5rem;
	justify-content: center;
	margin: 3rem 0;
}

.skill {
	font-weight: 700;
	text-align: center;
	&-icon {
		font-size: 3rem;
	}
}
