.btn {
	&:link,
	&:visited {
		background-color: var(--color-white);
		border-radius: 8px;
		color: var(--color-dark);
		font: {
			family: var(--text-font-secondary);
			size: 1.125rem;
			weight: 500;
		}
		padding: 0.6rem 1.5rem;
		text-decoration: none;
	}

	&:active,
	&:hover,
	&:focus {
		color: var(--color-white);
		background-color: var(--color-primary);
		transition: 0.3s ease-in-out;
	}

	&--dark {
		&:active,
		&:hover,
		&:focus {
			color: var(--color-white);
			background-color: var(--color-dark);
			transition: 0.3s ease-in-out;
		}
	}
}
