.portfolio-card {
	&-tech {
		font-size: 0.875rem;
		margin-bottom: 10px;
	}
	&-text {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		& + h4 {
			margin-bottom: 16px;
		}
	}
	&-links {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
	}
	&-img-container {
		padding: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: $border-radius-md;
		margin-bottom: 1.5rem;
	}
}
