@use '../abstracts' as a;

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	color: var(--color-dark);
	font-family: var(--text-font);
	font-size: 1rem;
	font-weight: 400;
	margin: 0;
	padding: 4px;
	@include a.breakpoint(sm) {
		padding: 8px;
	}
}

img {
	max-width: 100%;
}

h2 {
	margin-top: 0;
	margin-bottom: 2rem;
	font: {
		family: var(--text-font-secondary);
		size: 2rem;
		weight: 700;
	}
}

h3 {
	font: {
		size: 1.25rem;
	}
}

a {
	transition: color 0.25s ease-in-out;
}
