html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  font: {
    family: var(--text-font-secondary);
    size: 2rem;
    weight: 700;
  }
}

h3 {
  font: {
    size: 1.25rem;
  }
}
