@use '../abstracts' as a;

.container {
	max-width: 968px;
	margin: 0 auto;
	padding: 0 1rem;
}

.h2-primary {
	color: var(--color-primary);
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1.25rem;
}

.bg-primary {
	background-color: var(--color-primary);
}

.py-3 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.py-6 {
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.text-center {
	text-align: center;
}
