@use "../abstracts" as a;

.container {
  max-width: 968px;
  margin: 0 auto;
  padding: 0 1rem;
}

.bg-primary {
  background-color: var(--color-primary);
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
