:root {
	--text-font: 'Open Sans', sans-serif;
	--text-font-secondary: 'Raleway', sans-serif;

	--color-primary: #8957ff;
	--color-primary-medium: #a4a3a3;
	--color-primary-light: #f7f6f6;
	--color-secondary: #ff8c00;
	--color-white: #ffffff;
	--color-dark: #0f172a;
	--color-gray-dark: #1e293b;

	--shadow-primary: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	--x-gradient: #475569, #000, #475569 transparent;
}
